<form id="input-form" action="/generate" method="GET">
  <textarea
    class="va-top no-border"
    placeholder="💡 What's your idea?"
    ${prefill || "autofocus"}
    name="idea"
    minlength="40"
    maxlength="${MAX_INPUT_LENGTH}"
    required="true"
  >${prefill}</textarea>
  <input type="submit" class="va-top" value="🔥">

  <br><span>Format:</span>
  <label>
    <input
      type="radio"
      name="format"
      value="site"
      onchange="${prefill ? "this.form.submit()" : ""}"
      ${format === "site" && `checked="true"`} />

    Site
  </label>

  <label>
    <input
      type="radio"
      name="format"
      value="deck"
      onchange="${prefill ? "this.form.submit()" : ""}"
      ${format === "deck" && `checked="true"`} />

    Deck
  </label>

  <small class="block small-60 color-gray">
      Generating new decks can take up to 30 seconds...
  </small>
</form>
