<blockquote> ♥ heartfelt thanks to ♥ </blockquote>

<ul class="item-grid-2">
  <li> <a href="https://openai.com/blog/openai-api/"> The OpenAI team
  <li> <a href="https://github.com/borisdayma/dalle-mini"> The Dall-E mini team
  <li> <a href="https://api.producthunt.com/v2/docs"> ProductHunt API
  <li> <a href="http://runkit.com"> Runkit
  <li> <a href="https://www.pexels.com/api/"> Pexels API
  <li> <a href="http://quotes.rest"> Quotes.rest API
  <li> <a href="http://owen-wilson-wow-api.herokuapp.com"> Owen Wilson WOW API
  <li> <a href="https://simplecss.org/"> simple.css
  <li> <a href="https://revealjs.com/"> reveal.js
</ul>
