<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.3.1/reset.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.3.1/reveal.min.css"
/>
<link rel="stylesheet" href="${getRevealTheme()}" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.3.1/reveal.min.js"></script>

<div class="reveal custom">
  <div class="slides">
    {% include "format-deck/opening.html" %} {% include
    "format-deck/what-we-do.html" %} {% include "format-deck/problem.html" %} {%
    include "format-deck/solution.html" %} {% include
    "format-deck/market-size.html" %} {% include
    "format-deck/how-will-we-make-money.html" %} {% include
    "format-deck/competition.html" %} {% include "format-deck/experts-say.html"
    %} {% include "format-deck/quote.html" %} {% include "format-deck/owen.html"
    %}
  </div>
</div>

<script>
  window.revealOpts = ${JSON.stringify(opts, null, 2)};
  Reveal.initialize(window.revealOpts);
</script>
