<section id="intro">
  <p>
      hi there! <br>
      <br>
      this is a fun side project for generating pitch decks using GPT-3,
      (the <a href="https://www.technologyreview.com/2020/07/20/1005454/openai-machine-learning-language-generator-gpt-3-nlp/"  target="_blank">awesome language model</a> from OpenAI).
      here's how it works:
  </p>

  <ol>
    <li>describe your <i>revolutionary idea <sup>TM</sup></i> in 1-2 sentences
    <li>get a deck tailor-made just for you
    <li>et voila! 😉
  </ol>

  ~ <a href="https://diwank.name">Diwank</a><br>

  <p class="small-80 ${idea ? "block" : "hidden"}">
    example:  <a href="/generate?idea=${
      encodeURIComponent(idea || "")
    }&amp;format=deck" target="_blank">${ idea || "" }</a>
  </p>

  <p class="small-80">
      p.s. you can check out the source code
      <a href="https://runkit.com/diwank/startup-deck-gen" target="_blank"> here</a>.
  </p>
  <br>

  {% include "utils/giphy.html" %}

  <hr>

  {% include "utils/thanks.html" %}
</section>
