<link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css" />
<link rel="stylesheet" href="/assets/css/main.css" />

{% include "format-site/header.html" %}

<main>
  {% include "format-site/what-we-do.html" %} {% include
  "format-site/problem.html" %} {% include "format-site/solution.html" %} {%
  include "format-site/market-size.html" %} {% include
  "format-site/how-will-we-make-money.html" %} {% include
  "format-site/competition.html" %} {% include "format-site/experts-say.html" %}
  {% include "format-site/owen.html" %}
</main>

{% include "format-site/footer.html" %}

<!-- shitty hack -->
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

<script src="/assets/js/video-autoplay.js"></script>
