.margin-center {
  margin-left: auto !important;
  margin-right: auto !important;
}

.no-margin {
  margin: 0;
}

.margin-1 {
  margin: 1em;
}

.margin-2 {
  margin: 2em;
}

.no-border {
  border: none;
}

.p-absolute {
  position: absolute;
}

.top-1 {
  top: 1em;
}

.left-1 {
  left: 1.25em;
}

.right-1 {
  right: 1.25em;
}

.right-5 {
  right: 5.25em;
}

.hidden {
  display: none;
}

.block {
  display: block;
}

.va-top {
  vertical-align: top;
}

.bg-cover {
  background-size: cover;
}

.lh1 {
  line-height: 1;
}

.lh2 {
  line-height: 2em;
}

.align-center {
  text-align: center !important;
}

.align-right {
  text-align: right;
}

.bg-dark {
  background-color: #223 !important;
  border-radius: 0.2em;
  padding: 1em 2em;
}

.color-gray {
  color: gray !important;
}

.color-dark {
  color: #334 !important;
}

.round {
  border-radius: 50%;
  display: block;
  width: auto;
}

.grayed-out {
  filter: grayscale(1);
}

.bg-white {
  background: white;
}

.inverted-color {
  color: white !important;
  text-shadow: 1px 2px 3px grey !important;
}

.item-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1em 2em;
}

.gap-6 {
  gap: 6em;
}

.item-grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.small-60 {
  font-size: 60%;
}

.small-80 {
  font-size: 80%;
}

body.format-site > header {
  padding: 3em 0;
  background-size: cover;
}

body.format-site > header > img.logo {
  border: 12px solid white;
  height: 8em;
  margin: 1.2em auto;
}

body.format-site > header > h1 {
  border: 4px solid;
  display: inline-block;
  padding: 0 0.66em;
}

body.format-site #market-size > h3 {
  padding: 16px 24px;
  font-size: 100px;
}

body.format-site #experts-say {
  padding: 3em 5em;
}

body.format-site #owen > h1 {
  position: relative;
  top: -4em;
  right: 1em;
}

body.format-deck div.reveal.ingrid {
  display: flex;
  overflow: hidden;
  grid-column-start: 1;
  grid-column-end: none;
}

body.format-deck div.reveal.custom {
  width: 80rem;
  height: 45rem;
  margin: 0 auto;
}

body.format-deck #opening img.logo {
  padding: 0.1em;
  border: 0.3em solid white;
}

body.format-deck #opening h2 {
  padding: 0.2em 0;
  border: 4px solid white;
}

body.format-deck #market-size h3 {
  padding: 16px 24px;
  font-size: 120px;
}

body.format-deck #market-size p {
  margin-top: 3em;
}

body.format-deck pre {
  padding: 1em;
  white-space: pre-wrap;
}

body.format-deck #owen h2 {
  margin-top: 40%;
}

#input-form {
  margin-top: 1em;
}

#input-form > textarea {
  padding: 1.5em;
  background: rgb(237, 255, 237);
  width: 99%;
}

/* textarea.width + button.margin-left + button.width = 100% */

#input-form > input[type="submit"] {
  width: 5em;
  margin-top: 0;
  float: right;
  padding: 0.33em;
  font-size: 1.5em;
}

#home-button {
  margin-top: 0.75em;
}

#controls {
  z-index: 10;
}

#intro {
  margin-top: 0;
}

#intro ul {
  list-style: none;
}

iframe#giphy {
  width: -webkit-fill-available;
  pointer-events: none;
  height: 240px;
}

iframe#giphy + .overlay {
  margin-top: -2em;
  margin-bottom: 2em;
}

.reveal aside.controls {
  width: revert;
  background: revert;
  padding: revert;
  margin: revert;
  float: revert;
  border: revert;
  border-radius: revert;
}

.reveal aside {
  width: revert;
  margin: revert;
  float: revert;
  border: revert;
}

.reveal section {
  padding: revert;
  margin: revert;
  border: revert;
}

html.print-pdf body {
  display: revert;
}

@media print {
  video,
  img,
  blockquote,
  div,
  section,
  header,
  footer {
    break-inside: avoid !important;
  }
}

.example {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
